body {
  background-color: #121212;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 50px 0;
}

a {
  color: lightblue;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

.section-header {
  font-size: 2rem;
  text-transform: uppercase;
}

.section-description {
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
  color: lightcyan;
}

/* Navbar */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary {
  animation: pulse 3s infinite;
}

/* Main Header */
#title {
  font-size: 3rem;
  font-weight: 400;
  color: lightcyan;
}

#badges {
  margin-top: 30px;
  width: 100%;
}

#live-badges img {
  width: 100px;
}

#web-store-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#web-store-links img {
  width: 180px;
  height: 100%;
  padding-top: 20px;
}

/* Features Section */
#features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature:hover {
  transform: scale(1.1);
  cursor: pointer;
}



/* FAQ Section */
.card {
  background-color: #1d1d1d;
  border: none;
  border-radius: 0;
  color: #ffffff;
  margin-bottom: 30px;
}

.card button {
  color: lightcyan;
}

.card:hover {
  background-color: #2d2d2d;
}

.card.clickable {
  cursor: pointer;
}

/* Media Queries for Larger Screens */
@media (min-width: 600px) {
  #web-store-links {
    flex-direction: row;
  }

  #web-store-links a {
    margin: 0 50px;
  }

  #web-store-links img {
    height: auto;
  }
}

@media (min-width: 1200px) {
  section {
    padding: 70px 0;
  }

  .modal-dialog {
    width: 50%;
    height: 50%;
    max-width: 100%;
  }
}