<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container">
        <div class="nav-links mx-auto">
            <a href="/index.html" class="btn btn-outline-light">
                <i class="fas fa-home"></i> Home
            </a>
            <a href="/problems-by-company/company.html" class="btn btn-outline-light">
                <i class="fas fa-building"></i> Company Tags
            </a>
            <a href="https://github.com/zubyj/leetcode-explained" target="_blank" class="btn btn-outline-light">
                <i class="fab fa-github"></i> Github
            </a>
        </div>
    </div>
</nav> 